* {
    margin: 0;
    padding: 0;
    color: #1b1b1b;
    font-family: 'Amatic SC', cursive;
}

body {
    background-color: #FEF6EB;
}

/* Header & Fotter */

header {
    border-bottom: 1px solid #525564;
}

header, footer {
    background: #fff;
    padding: 20px 0;
    background-color: #74828F;
}

.header-container {
    text-align: center;
}

h1 {
    color: #FEF6EB;
    font-size: 40px;
}

.search_component {
    text-align: center;
}

.search_component input {
    border-radius: 30px;
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    margin: 0px 0 15px 0;
    font-weight: bold;
}

.search_component input:focus {
    outline-width: 0;
}

.deputy_item p {
    font-family: 'Arima Madurai', cursive;
    font-size: 24px;
}

.single_deputy {
    position: relative;
    height: 50px;
    margin: 10px auto;
    width: 50%;
    background-color: #96C0CE;
    line-height: 50px;
    border-radius: 25px;
    border: 1px solid #dddddd;
}

.deputy-name {
    position: absolute;
    width: 70%;
    text-align: center;
    border-right: 1px solid #74828F;
}

.deputy-club {
    position: absolute;
    left: 70%;
    text-align: center;
    width: 30%;
}

.club-buttons {
    text-align: center;
}

.club-button {
    font-size: 32px;
    margin: 30px 10px;
}
